[Desktop Entry]
Version=1.1
Type=Application
Categories=Game
Name=Haven-hearth-HAVOC
Comment=try survive in haven and hearth world, good luck!
Path=./Games/Haven/Havoc
Icon=./res/icon.png
Exec=bash ./Games/Haven/Havoc/haven-havoc.sh
Actions=;

